<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">

    <title>Thank_You</title>
</head>

<body>
    <div>
        <p style="text-align: center; margin-top: 10%;"><b>Thank you for your feedback</b></p>
    </div>

    <div class="container-fluid">
        <p style="text-align: center; font-size: x-large;">“The first step toward success is taken when you refuse to be
            a captive of the environment in which you first find yourself.”
            <br>
            <b>– Mark Caine</b>
        </p>
    </div>

</body>

</html>